

<div class="row">
    <div class="col-sm-6">
        <p>Session ID: <label id="roomIdLabel">{{currentSession.roomId}}</label>
            &nbsp; <button onclick="copyToClipboard(1)"
                class="btn btn-sm btn-success">Copy</button> </p>
        <h3 id="currentUsername">{{currentSession.username | titlecase}}</h3>
        <label class="userRole">(You are {{currentSession.isObserver?
            "an Observer":"a Developer"}})</label>
        @if (currentSession.isObserver) {
        <form [formGroup]="cardForm">
            <div class="mb-3 mt-3">
                <label for="description" class="form-label">Story
                    Description:</label>
                <textarea formControlName="sdescription"
                    (focusout)="setStoryDescription()" class="form-control"
                    rows="2" id="description"
                    placeholder="Enter story description"></textarea>
            </div>
            @if(showPlayerTable){
            <!-- showHide button should be hidden if no one has participated -->
            <button type="button" (click)="clearVotes()"
                style="margin-right: 15px;"
                class="btn btn-danger shadow-lg">Clear Votes</button>
            <button type="button" (click)="changeShowHideVotes()"
                class="btn btn-success shadow-lg">{{isShowVotes?
                "Show Votes":"Hide Votes"}}</button>
            }
        </form>
        }@else {
        <div class="mb-3 mt-3">
            <label for="description" class="form-label">Story
                Description:</label>
            <div class="storyTitle">{{storyTitle}}</div>
        </div>
        }
        <br>
        @if (!isShowVotes) {
        <div class="col-sm-12">
            <div
                class="mt-4 p-3 bg-gradient text-black rounded shadow-lg text-center avarageCard" >
                <h3>Avarage Point</h3>
                <h3>3</h3>
            </div>
        </div>
        }
        <br>
        <!-- <app-chat></app-chat>
        <br> -->
    </div>
    <div class="col-sm-6">
        <div>
            <h5>Select story point:</h5>
            <div class="storyPointBtn">
                <div>
                    <button type="button"
                        class="btn btn-primary shadow-lg storyPoint"
                        (click)="btn_storyPoint(0)">0.5</button>
                    <br><span class="text-sm-center smallFont">(1-3
                        hours)</span>
                </div>
                <div>
                    <button type="button"
                        class="btn btn-success shadow-lg storyPoint"
                        (click)="btn_storyPoint(1)">1</button>
                    <br><span class="text-sm-center smallFont">(4-6
                        hours)</span>
                </div>
                <div>
                    <button type="button"
                        class="btn btn-info shadow-lg storyPoint"
                        (click)="btn_storyPoint(2)">2</button>
                    <br><span class="text-sm-center smallFont">(8-12
                        hours)</span>
                </div>
                <div>
                    <button type="button"
                        class="btn btn-warning shadow-lg storyPoint"
                        (click)="btn_storyPoint(3)">3</button>
                    <br><span class="text-sm-center smallFont">(13-17
                        hours)</span>
                </div>
                <div>
                    <button type="button"
                        class="btn btn-danger shadow-lg storyPoint"
                        (click)="btn_storyPoint(5)">5</button>
                    <br><span class="text-sm-center smallFont">(18+
                        hours)</span>
                </div>
            </div>
        </div>
        <hr>
        <h5>These players are going to vote.</h5>
        @if(showPlayerTable){
        <table class="table table-striped shadow-lg">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @for (item of allUsers; track item.roomId) {
                @if(!item.isObserver && item.roomId === currentSession.roomId){
                <tr>
                    <td class="font20">{{item.username | titlecase}}</td>
                    <td class="font20">
                        @if (isShowVotes) {
                        <span
                            class="badge rounded-pill bg-secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        }@else {
                        <span class="badge rounded-pill bg-success">4</span>
                        }
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
        } @else{
        <div class="noPlayers">
            <p>No one has joined yet!</p>
            <button onclick="copyToClipboard(2)"
                class="btn btn-sm btn-info">Click here to copy the invitation
                link</button>
        </div>
        }

    </div>

</div>
