

<div class="row">
    <div class="col-sm-6">
        <p>Session ID: {{currentSession.roomId}}</p>
        <h3>{{currentSession.username | titlecase}}</h3>
        <label>You are {{currentSession.isObserver?
            "an observer":"a developer"}}</label>
        <form [formGroup]="cardForm">
            <div class="mb-3 mt-3">
                <label for="description" class="form-label">Story
                    Description:</label>
                <textarea formControlName="sdescription"
                    (click)="setStoryDescription()" class="form-control"
                    rows="2" id="description"
                    placeholder="Enter story description"></textarea>
            </div>
            @if (currentSession.isObserver) {
            <button type="button" (click)="clearVotes()"
                style="margin-right: 15px;"
                class="btn btn-danger shadow-lg">Clear Votes</button>
            <button type="button" (click)="changeShowHideVotes()"
                class="btn btn-success shadow-lg">{{isShowVotes?
                "Show Votes":"Hide Votes"}}</button>
            }

        </form>
        <br>
        @if (!isShowVotes) {
        <div class="col-sm-12">
            <div
                class="mt-4 p-3 bg-gradient text-black rounded shadow-lg text-center">
                <h3>Avarage Point: 3</h3>
            </div>
        </div>
        }
        <br>
    </div>
    <div class="col-sm-6">
        <div>
            <h5>Select story point:</h5>
            <button type="button"
                class="btn btn-primary shadow-lg storyPoint"
                (click)="btn_storyPoint(0)">0.1</button>
            <button type="button"
                class="btn btn-success shadow-lg storyPoint"
                (click)="btn_storyPoint(1)">1</button>
            <button type="button"
                class="btn btn-info shadow-lg storyPoint"
                (click)="btn_storyPoint(2)">2</button>
            <button type="button"
                class="btn btn-warning shadow-lg storyPoint"
                (click)="btn_storyPoint(3)">3</button>
            <button type="button"
                class="btn btn-danger shadow-lg storyPoint"
                (click)="btn_storyPoint(5)">5</button>
        </div>
        <hr>
        <h5>These players are going to vote.</h5>
        <table class="table table-striped shadow-lg">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @for (item of allUsers; track item.roomId) {
                @if(!item.isObserver && item.roomId === currentSession.roomId){
                <tr>
                    <td>{{item.username | titlecase}}</td>
                    <td>
                        @if (isShowVotes) {
                        <span
                            class="badge rounded-pill bg-secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        }@else {
                        <span class="badge rounded-pill bg-success">4</span>
                        }
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
    </div>

</div>
