<div class="row">
    <p class="text-center text-black-50">
        Welcome to Mahi-Pointing-Poker!<br> Online, virtual and co-located agile teams use this application during their planning/pointing sessions to effectively communicate points for stories.
    </p>
    
    <div class="col-sm-6">
        <div class="mt-4 p-5 bg-primary text-white rounded shadow-lg">
            <h1>Create Room</h1> 
            <p>You can create your own new room and start estimation.</p> 
            <form class="bottomPadding">
                <div class="row">
                  <div class="col">
                    <button type="button" (click)="createRoom()" class="btn btn-warning">Start a session</button>
                  </div>
                </div>
              </form>
              <!-- <br>
              <p class="text-center">Active Rooms: <span class="badge bg-danger">4</span></p> -->
        </div>
    </div>
    <div class="col-sm-6">
        <div class="mt-4 p-5 bg-success text-white rounded shadow-lg">
            <h1>Join Room</h1> 
            <p>Join existing room by enter room id.</p> 
            <form [formGroup]="cardForm" class="bottomPadding">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Enter room id" formControlName="roomId" autofocus>
                  </div>
                  <div class="col">
                    <button (click)="checkRoomIsExistOrNot()" type="button" class="btn btn-warning">Join a session</button>
                  </div>
                </div>
              </form>
              <!-- <br>
              <p class="text-center">Active Users: <span class="badge bg-danger">18</span></p> -->
        </div>
    </div>
    
</div>

<!-- <div class="container-fluid py-3">
  <h1>Angular Toastr</h1>

  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="button" class="btn btn-sm btn-success" (click)="showSuccess()">Success</button>
    <button type="button" class="btn btn-sm btn-info" (click)="showInfo()">Info</button>
    <button type="button" class="btn btn-sm btn-warning" (click)="showWarning()">Warning</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="showError()">Error</button>
  </div>
</div> -->


